@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/styles.min.css" rel="stylesheet" />
</head>

<section>
    <div class="leaves">
        <div class="set">
            <div><img src="~/images/leaf_01.png"></div>
            <div><img src="~/images/leaf_02.png"></div>
            <div><img src="~/images/leaf_03.png"></div>
            <div><img src="~/images/leaf_04.png"></div>
            <div><img src="~/images/leaf_01.png"></div>
            <div><img src="~/images/leaf_02.png"></div>
            <div><img src="~/images/leaf_03.png"></div>
            <div><img src="~/images/leaf_04.png"></div>
        </div>
    </div>
    <form id="account" method="post">
        <img src="~/images/bg.jpg" class="bg">
        <img src="~/images/girl.png" class="girl">
        <div class="login">
            <h2>Sign In</h2>
            <div class="InputBox">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="InputBox">
                <label asp-for="Input.Password" class="form-label">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="InputBox">
                <input type="submit" value="Login" id="btn">
            </div>
            <div class="group">
                <a href="#">Forget Password</a>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
            </div>
            <img src="~/images/trees.png" class="trees">
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
